# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: MEC301 - Métodos Numéricos
author: Francisco V. Ramirez-Cuevas

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  use_jupyterbook_latex: true
  latex_documents:
    targetname: book.tex

only_build_toc_files: true

parse:
 myst_enable_extensions:
  - html_image # parse html image scripts (non-default)
  - amsmath # advanced latex math text (non-default)
  - colon_fence
  #- deflist
  - dollarmath
  #- html_admonition
  #- html_image
  - linkify
  #- replacements
  #- smartquotes
  - substitution
  - tasklist
 myst_url_schemes: [mailto, http, https] # URI schemes that will be recongnised as external
 myst_dmath_double_inline: true # Allow display math ($$) within an inline context

# Add a bibtex file so that we can create citations
#bibtex_bibfiles:
#  - references.bib

# Information about where the book exists on the web
#repository:
#  url: https://github.com/executablebooks/jupyter-book  # Online location of your book
#  path_to_book: docs  # Optional path to your book, relative to the repository root
#  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
#html:
#  use_multitoc_numbering: true
#  use_issues_button: true
#  use_repository_button: true
